.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14rem;
  width: 80rem;
  padding: 1rem;
  border: 1px solid #5A2B29;
  border-radius: 25px;
  background-color: #170F0E;
  box-shadow: 1px 1px #df6c00b1;
}

.card:hover {
  transform: translateY(-15px);
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-weight: 600;
  color: #EEEef0;
}

.card-author{
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-weight: 550;
  color: #EEEef0;
}

.card-date-wrapper{
  font-size: 15px;
  margin-left: auto;
  align-self: flex-end;
  margin-bottom: 2px;
  color: #E2E3E6;
}
.card-tag {
  margin-bottom: 3;
  gap:2;
}
.savStyle{
  align-self: flex-end;
}

.card-description {
  margin-bottom: 0;
  font-size: 18px;
  color: #F4F4F5;
}
