.results-List{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px,0px,8px #ddd;
    margin-left: 25%;

    overflow-y: scroll;

    border-radius: 9px;

}

.result-item{
    width: 50%;
    color:black;
    background-color: white;
    display: flex;
    box-shadow: 0px,0px,8px #000000;
    max-height: 300px;
    overflow-y: scroll;
}

.results-item:hover{
    background-color:rgb(0, 0, 0);
    width:100%;

}