/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/components/card.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14rem;
  width: 80rem;
  padding: 1rem;
  border: 1px solid #5A2B29;
  border-radius: 25px;
  background-color: #170F0E;
  box-shadow: 1px 1px #df6c00b1;
}

.card:hover {
  transform: translateY(-15px);
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 22px;
  font-weight: 600;
  color: #EEEef0;
}

.card-author{
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-weight: 550;
  color: #EEEef0;
}

.card-date-wrapper{
  font-size: 15px;
  margin-left: auto;
  align-self: flex-end;
  margin-bottom: 2px;
  color: #E2E3E6;
}
.card-tag {
  margin-bottom: 3;
  gap:2;
}
.savStyle{
  align-self: flex-end;
}

.card-description {
  margin-bottom: 0;
  font-size: 18px;
  color: #F4F4F5;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/app/discovery/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.body{
    color: #3D110F;

}
.grid{
    display:flex;
    flex-wrap:wrap;
    gap: 2rem;
    padding: 2.5rem;
    justify-content: center;
    margin-left: 20px;
}

.custom__control {
  background-color: #3D110F;
  border-color: #5A2B29;
  color: #EEEef0;
}

.custom__placeholder {
  color: rgb(0, 0, 0)!important;
}

.custom2__placeholder {
  color: rgb(0, 0, 0)!important;
}

.custom3__placeholder {
  color: rgb(0, 0, 0)!important;
}
