/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/components/card.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.card {
  width: 60rem;
  height: 10rem;
  border: 1px solid #959595;
  border-radius: 25px;
  padding: 1rem;
  background-color: white;
  box-shadow: 1px 1px #1b1b1b;
}

.card:hover {
  transform: translateY(-15px);
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-weight: 600;
  color: rgb(2, 2, 164);
}

.card-author{
  margin-bottom: 0.5rem;
  font-size: 15px;
  font-weight: 550;
  color: rgb(0, 0, 0);
}

.card-date{
  font-size: 13px;
  font-weight: 550;
  color: rgb(0, 0, 0);
  margin-right: 5px;
}


.card-description {
  margin-bottom: 0;
  font-size: 15px;
  color: #151515;
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/app/discovery/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.body{
    color: #397EF4;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    gap: 2rem;
    padding: 2.5rem;
    justify-content: center;
    margin-left: 20px;
    box-shadow: 2px 2px #3c3c3c;

}



